<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinLessons">
        <activity
            android:name=".Lesson09.Lesson9Activity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".lesson01.Lesson1Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".lesson02.Lesson2Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".lesson03.Lesson3Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".lesson04.Lesson4Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".lesson05.Lesson5Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".lesson06.Lesson6Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".lesson07.Lesson7Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".lesson08.Lesson8Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>